.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato h1 {
    font-size: 2rem;
    font-family: var(--font-primary);
    color: rgb(119, 118, 118);
    border-bottom: solid 2px #6a3093;
    margin-bottom: 2rem;
    width: 30%;
    text-align: center;
}

.contato form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.contato input {
    width: 100%;
    height: 1.5rem;
    margin-bottom: 0.5rem;
}

.contato label {
    margin-bottom: 0.3rem;
    color: rgb(109, 109, 109)
}

.contato textarea {
    min-width: 100%;
    width: 100%;
    min-height: 4rem;
    max-height: 4rem;
    margin-bottom: 2rem;
}

.contato .enviar {
    width: 100%;
    height: 2.5rem;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 2rem;
    border: none;
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


